/* The blue color is #00a8f3 and the red is #a40222 */

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-size: 50px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

@font-face {
    font-family: 'Virgil';
    src: url('Virgil.woff2') format('woff2');
  }

#navigation {
    background-color: black;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 8vh;
    padding-left: 10px;
}

#logo {
    height: 6vh;
    cursor: pointer;
}

#gameResultBackground {
    width: 100vw;
    height: 92vh;
    background-color: rgba(138, 6, 179, 0.7);
    display: none;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: absolute;
    z-index: 100;
}

#tokenPickerBackground {
    width: 100vw;
    height: 92vh;
    background-color: rgba(138, 6, 179, 1);
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 200;
}

#tokenPickerPopup {
    width: 100vh;
    height: 80vh;
    background-color: rgb(17, 17, 17);
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 8vh;
}

#tokenPickerPopupText {
    font-family: "Virgil", 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    text-align: center;
}

#tokens {
    display: flex;
    flex-direction: row;
    gap: 8vh;
}

#xTokenImage, #oTokenImage {
    background-color: rgb(255, 255, 255);
    border-radius: 6px;
    padding: 3vh;
    width: 40vh;
    height: 40vh;
}

#xTokenImage:hover, #oTokenImage:hover {
    background-color: rgb(241, 241, 241);
    cursor: pointer;
}

#xTokenImage:hover {
    box-shadow: 1px 1px 3px #a40222;
}

#oTokenImage:hover {
    box-shadow: 1px 1px 3px #00a8f3;
}

#difficultyContainer {
    display: flex;
    flex-direction: column;
}

#difficultyMenu {
    width: 100%;
    display: none;
    flex-direction: column;
    z-index: 10;
}

.difficultyOption {
    font-size: 15px;
    background-color: white;
    border: 1px grey solid;
    padding: 2px 7px;
}

.difficultyOption:hover {
    cursor: pointer;
    background-color: rgb(190, 190, 190);
}

#difficultyButton {
    font-size: 15px;
    padding: 3px 7px;
    height: 35px;
}

#difficultyButton, #reset {
    border: rgb(56, 56, 56) 1px solid;
    box-shadow: 1px 1px 1px rgba(56, 56, 56, 0.5);
    border-radius: 3px;
    background-color: white;
}

#content {
    display: flex;
    flex-basis: 0;
    gap: 10px;
}

#xScoreContainer, #centerColumn, #oScoreContainer {
    height: 92vh; /* Whole page - navigation bar */
    flex-basis: 0;
}

#xScoreContainer, #oScoreContainer {
    flex-grow: 1;
    flex-shrink: 1;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}

#xScoreContainer {
    background-color: #a40222;
}

#xName, #xScore {
    font-family: 'Permanent Marker', cursive;
}

#oName, #oScore {
    font-family: 'Rye', sans-serif;
    color: white;
}

#oScoreContainer {
    background-color: #00a8f3;
}

#centerColumn {
    background-color: rgb(250, 250, 250);
    flex-grow: 0.7;
    display: flex;
    justify-content: center;
    align-content: center;
}

#centerContent {
    display: flex;
    flex-direction: column;
    padding: 10px;
    gap: 5px;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 92vh; /* Since nav bar is 8vh */
}

#buttons {
    height: 7vh;
    width: 80vh;
    flex-grow: 1;
    display: flex;
    justify-content: space-between;
    align-content: flex-end;
    padding: 0px 10px 0px 10px;
}

#reset {
    width: 35px;
    height: 35px;
    padding: 5px;
}

#reset:hover, #difficultyButton:hover {
    background-color: rgb(235, 235, 235);
    cursor: pointer;
    box-shadow: 1px 1px 1px rgba(56, 56, 56, 0.7);
}


#grid {
    flex-grow: 9;
    border: 2px black solid;
    height: 83vh;
    width: 80vh;
}

.row {
    display: flex;
    height: 33.3333%;
}

.square {
    background-color: rgb(221, 221, 221);
    border: 1px black solid;
    padding: 5px;
    flex-grow: 1;
    flex-basis: 0;
    font-size: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.square:hover {
    cursor: pointer;
    background-color: rgb(211, 211, 211);
}